input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
  background-color: teal;
}

h2 {
  background-color: salmon;
}

.container {
}

#sellHome{
  margin: auto;
  width: 80%;
  padding: 20px;
}

#submitLabel{
  font-size: 1.25em;
  font-style: oblique;
}
.form-contain{
  margin-top: 5%;
  max-width: 740px;
  background-color: skyblue;
  box-shadow:  -5px -5px 25px aliceblue,  5px 5px 25px aliceblue;
  border-radius: 10px;
}

.form-horizontal .control-label{
  text-align: left;
}

.body-sell{
  background-image: url('../vendors/pexels-photo-186077.jpeg');
  background-size: cover;
}
