input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

h1{
  font-size: 5em;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  margin-bottom: .5em;
  color: aliceblue;
  text-shadow: 1px 1px 10px DarkOrange, -1px -1px 20px DeepPink;
  font-style: oblique;
}

#sellHome{
  margin: auto;
  width: 80%;
  padding: 20px;
}

#submitLabel{
  font-size: 1.25em;
  font-style: oblique;
}
.form-contain{
  margin-top: 5%;
  max-width: 740px;
  background-color: skyblue;
  box-shadow:  -5px -5px 25px aliceblue,  5px 5px 25px aliceblue;
  border-radius: 10px;
}

.form-horizontal .control-label{
  text-align: left;
}

.body-sell{
  background-image: url('../vendors/pexels-photo-186077.jpeg');
  background-size: cover;
}

[id*="property"]{
  display: inline-flex;
  margin-bottom: 1.5em;
  background-color: rgba(255,140,0,.75);
  border-radius: 5px;
  padding: 20px;
  box-shadow: -5px -5px 25px DeepPink, 5px 5px 25px DeepPink;
  min-height: 8em;
;
}

.body-listings{
  background-image: url('../vendors/Narrow_tower_apartment_house_47st_8th_av_jeh.jpg');
  background-size: cover;
}

.glyph-holder{
  margin: auto;
}

.location{
  margin: auto;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.25em;
  text-indent: -1em;
  text-align: right;
}

.col-md-2 .glyphicon{
  color: DeepPink;
  font-size: 2em;
}

.btn-info.rent,.btn-info.cost{
  color: #fffbe8;
  font-style: oblique;
  font-size: 1em;
  text-indent: -.5em;
  font-family: Tahoma, Geneva, sans-serif;
  text-shadow: 1px 1px 10px DeepPink, 1px 1px 30px DarkOrange;
}

.popover-title {
    font-style: oblique;
    color: DeepPink;
    font-size: 2em;
    min-width: 200px;
}
.popover-content {
    font-size: .75em;
    color: DarkOrange;
    min-width: 200px;
}

#nextPageButton{
  float: right;
  min-height: 8em;
  width: 100%
}

#npbText{
  font-size: 2em;
}
