<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sussman Homes and Gardens</title>
    <link rel="shortcut icon" href="../vendors/favicon.ico">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/styles.css">
    <script src="../vendors/jquery.min.js" charset="utf-8"></script>
    <script src="../scripts/client.min.js" charset="utf-8"></script>
  </head>
  <body class="body-listings">

    <!-- Navbar -->
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <span class="glyphicon glyphicon-tower" aria-hidden="true"></span>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">For Sale or Rent Now!</a></li>
            <li><a href="/sell">Sell Your Home!</a></li>
            <li><a data-toggle="modal" href="#authModal">Admin</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Listings appended here -->
    <h1>Current Listings!</h1>
    <div class="basket container">
    </div>

      <!-- Modal -->
      <div id="authModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Admin Authentication</h4>
            </div>
            <div class="modal-body">
              <p>Please enter your username and password.</p>
              <form id="adminAuth" action="/admin" method="post">
                <label for="usernameField" class="control-label">Username: </label>
                <input type="text" class="" name="usernameField" id="usernameField" placeholder="Username">
                <br>
                <label for="passwordField" class="control-label">Password: </label>
                <input type="password" class="" name="passwordField" id="passwordField" placeholder="Password">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-info" id="authSubmitButton">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>

    <script src="//localhost:35729/livereload.js"></script>
    <script src="../vendors/bootstrap/js/bootstrap.min.js" charset="utf-8"></script>
  </body>
</html>
